services:
  factlty-backend:
    image: production_faculty
    container_name: factlty-backend
    hostname: factlty-backend
    restart: always
    env_file:
      - .env
    healthcheck:
      # hit an API path that exists in your app
      test: [ "CMD-SHELL", "curl -fsS http://localhost:3000/ || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      - app
      - data
      - edge
    labels:
      - traefik.enable=true
      - traefik.http.routers.factlty-backend.rule=host(`faculty.periyaruniversity.ac.in`)
      - traefik.http.routers.factlty-backend.entrypoints=websecure
      - traefik.http.routers.factlty-backend.tls=true
      - traefik.http.routers.factlty-backend.tls.certresolver=myresolver
      - traefik.http.routers.factlty-backend.middlewares=factlty-backend-ratelimit@docker,factlty-backend-cors@docker
      - traefik.http.services.factlty-backend.loadbalancer.server.port=3000
      - traefik.http.middlewares.factlty-backend-ratelimit.ratelimit.average=30
      - traefik.http.middlewares.factlty-backend-ratelimit.ratelimit.burst=120
      - traefik.http.middlewares.factlty-backend-ratelimit.ratelimit.period=3s
      - traefik.http.middlewares.factlty-backend-cors.headers.accessControlAllowOriginList=*
      - traefik.http.middlewares.factlty-backend-cors.headers.accessControlAllowMethods=GET,POST,PUT,PATCH,DELETE,OPTIONS
      - traefik.http.middlewares.factlty-backend-cors.headers.accessControlAllowHeaders=*
      - traefik.http.middlewares.factlty-backend-cors.headers.addVaryHeader=true

    volumes:
      - faculty_uploads:/home/periyaruniversity/Faculty-Backend/uploads
    logging:
      driver: loki
      options:
        loki-url: "http://loki.hari.succeedex.in/loki/api/v1/push"
        loki-retries: 2
        loki-max-backoff: 800ms
        loki-timeout: 1s
        keep-file: "true"
        mode: non-blocking
volumes:
  faculty_uploads:
    driver: local

networks:
  data:
    external: true
    name: data
  edge:
    external: true
    name: edge
  app:
    external: true
    name: app
